.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* margin: -18px; */
  /* margin-left: -9px;
  margin-bottom: -9px; */
}

/* .card:nth-child(-n) {
} */

/* .list:nth-last-child(-n + 1) {
  background-color: rgb(213, 158, 201);
  
} */
/* .card:not(:last-child){
  background-color: teal;
  margin: 0;

} */
.companyLink {
  text-decoration: none;
  color: #2d2c30;
}

.card {
  width: 454px;
  height: 168px;
  margin: 0 9px 9px 0;
  padding: 23px 24px 74px 24px;
  border: 2px solid #ffffff;

  box-shadow: 0px 0px 8px rgba(196, 196, 196, 0.25);
  border-radius: 16px;
}

.addedCard {
  background-color: #fff;
  width: 454px;
  height: 168px;

  margin: 0 9px 9px 0;

  padding: 23px 24px 74px 24px;

  border: 2px solid #ffffff;

  box-shadow: 0px 0px 8px rgba(196, 196, 196, 0.25);
  border-radius: 16px;
}



.cardContent {
  margin-bottom: 24px;
}

.companyItemTitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;
}

.companyItemNumber {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  color: #2d2c30;

  mix-blend-mode: normal;
}

.addButton {
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;

  border: none;
  background-color: #e5e5e5;
  text-transform: uppercase;
}

